@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
    margin: 0;
    padding: 0;
}

*::selection{
    background: #1b0808;
    color: #550f19;
    color: #cfc7c4;

}

body{
    background: #1b0808;
    color: #cfc7c4;
};


/* NAVBAR */
.navbar {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.navdiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b0808;
    /* z-index: 1000; */
    padding: 10px;
    position: fixed;

}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: #cfc7c4;
    font-family: "Playfair";
    text-decoration: none;
    margin-left: 30%;
}

ul {
    list-style: none;
    display: flex;
    margin-right: 30px;
}

li {
    display: inline-block;
}

li a {
    color: #cfc7c4;
    font-size: 16px;
    font-weight: bold;
    margin-right: 50px;
    text-decoration: none;
    font-family: "Playfair";
}


/* Hamburger Icon Styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: #cfc7c4;
    margin-bottom: 4px;
    border-radius: 5px;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
    .navdiv {
        justify-content: space-between;
    }

    ul {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 60px;
        right: 0;
        width: 40%;
        height: 100vh;
        background-color: #cfc7c4;
        box-shadow: -10px 0 10px rgba(255, 1, 1, 0.1);
    }

    ul.show {
        display: flex;
    }

    li {
        margin-top: 20%;
        text-align: center;
        /* background-color: #c7001e; */
        justify-content: center;        
        

    }

    li a{
        font-size: 18px;
        justify-content: center;
        text-align: center;
        margin: 0;
        color: #1b0808;
        /* background-color: red; */
        transition: color;
    }

    li a:hover{
        color: #550f19;
        text-decoration: underline;
    }

    .hamburger {
        display: flex;
    }
}

/* Optional: Animation for the menu appearing */
ul.show {
    animation: slideDown 0.5s ease;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*  */
.exp-screen{
    width: 100%;
    height: fit-content;
}

.exp-content{
    width: 100%;
    height: fit-content;
    padding-top: 120px;
    /* background-color: red; */
}

.exp-title{
    width: 100%;
    height: 10%;
    height: auto;
    text-align: center;
    margin-bottom: 7%;
}

.exp-title h2{
    font-family: "Merriweather Sans";
    font-size: 30px;
    font-weight: 400px;
    color: #cfc7c4;
}

.exp-title p{
    font-family: "Merriweather Sans";
    margin-top: 2%;
    font-weight: 300;
}

.exp{
    margin:15%;
    margin-top: 0%;
    height: fit-content;
    /* background-color: red; */
    /* grid-template-columns: 1fr 1fr; */
    /* justify-content: space-around; */
}

.my-exp{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    padding: 10px;
    align-items: center;
    text-align: start;
    border-radius: 3px;
    border: 1px solid #cfc7c4;
    text-decoration: none;
    transition: background-color 0.3 ease;
}

.my-exp img{
    width: 50%;
    margin-right: 2%;
}

.txt{
    width: 100%;
    height: fit-content;
    top: 0;
    text-align: justify;
    margin-right: 1%;
}

.txt h3{
    font-family: "Merriweather Sans";
    font-size: 20px;
    margin-bottom: 1%;
}

.txt h4{
    font-family: "Merriweather Sans";
    font-size: 16px;
    margin-bottom: 4%;
    font-weight: 500;
}

.txt p{
    font-family: "Merriweather Sans";
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 1%;
}

.txt a{
    font-family: "Merriweather Sans";
    margin-top: 3%;
    font-size: 16px;
    text-decoration: none;
    color: #cfc7c4;
    background-color: #1b0808;
    border: 1px solid #cfc7c4;
    border-radius: 5px;
    padding: 2px 8px;
    width: fit-content;
    transition: background-color;
}

.txt a:hover{
    background-color: #550f19;
}

.exp-title2{
    margin-top: 15%;
    width: 100%;
    height: 10%;
    height: auto;
    text-align: center;
    margin-bottom: 7%;
}

.exp-title2 h2{
    font-family: "Merriweather Sans";
    font-size: 30px;
    font-weight: 400px;
    color: #cfc7c4;
}


@media (max-width:700px){

    .my-exp{
        flex-direction: column;
    }

    .my-exp img{
        width: 50%;
        margin-right: 2%;
        margin-bottom: 5%;
    }

    .txt{
        width: 100%;
        height: 100%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        top: 0;
    }

    .txt h3{
        font-size: 16px;
    }
    
    .txt h4{
        font-size: 14px;
    }
    
    .txt p{
        font-size: 12px;
    }
    
}



/* footer */

.footer{
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #cfc7c4;
    justify-content: center;
    align-items: center;
}

.footer p{
    color: #1b0808;
    font-family: "Playfair";
    font-size: 18px;
    font-weight: 600;
}