@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
    margin: 0;
    padding: 0;
}

*::selection{
    background: #1b0808;
    color: #550f19;
    color: #cfc7c4;

}

body{
    background: #1b0808;
    color: #cfc7c4;
};


/* NAVBAR*/ 

.navbar {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.navdiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b0808;
    /* z-index: 1000; */
    padding: 10px;
    position: fixed;

}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: #cfc7c4;
    font-family: "Playfair";
    text-decoration: none;
    margin-left: 30%;
}

ul {
    list-style: none;
    display: flex;
    margin-right: 30px;
}

li {
    display: inline-block;
}

li a {
    color: #cfc7c4;
    font-size: 16px;
    font-weight: bold;
    margin-right: 50px;
    text-decoration: none;
    font-family: "Playfair";
}


/* Hamburger Icon Styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: #cfc7c4;
    margin-bottom: 4px;
    border-radius: 5px;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
    .navdiv {
        justify-content: space-between;
    }

    ul {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 60px;
        right: 0;
        width: 40%;
        height: 100vh;
        background-color: #cfc7c4;
        box-shadow: -10px 0 10px rgba(255, 1, 1, 0.1);
    }

    ul.show {
        display: flex;
    }

    li {
        margin-top: 20%;
        text-align: center;
        /* background-color: #c7001e; */
        justify-content: center;        
        

    }

    li a{
        font-size: 18px;
        justify-content: center;
        text-align: center;
        margin: 0;
        color: #1b0808;
        /* background-color: red; */
        transition: color;
    }

    li a:hover{
        color: #550f19;
        text-decoration: underline;
    }

    .hamburger {
        display: flex;
    }
}

/* Optional: Animation for the menu appearing */
ul.show {
    animation: slideDown 0.5s ease;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.describe-screen{
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 0 30px;
    /* background-color: aqua; */
    /* background-image: url("../Asset/Desktop\ -\ 1\ \(1\).png"); */
}

.describe{
    margin-top: 50%;
    height: fit-content;
    margin: 5%;
    display: flex;
    /* background-color: black; */
    justify-content: center;
    
}

.describe img{
    height: 100%;
    max-width: 40%;
    margin-top: 5%;
    margin-left: 5%;
    justify-content: center;
    /* background-color: aqua; */
}

.describe-content{
    max-width: fit-content;
    height: fit-content;
    margin: 5%;
    justify-content: space-evenly;
    /* background-color: blanchedalmond; */
    
}

.describe-content h1{
    font-size: 36px;
    font-weight: 500;
    color: #550f19;
    padding-bottom: 5px;
    margin-left: 5%;
    font-family: "Merriweather Sans";
}

.describe-content h2{
    font-size: 32px;
    font-weight: 500;
    color: #550f19;
    /* padding-bottom: 15px; */
    margin-left: 5%;
    font-family: "Merriweather Sans";
    /* background-color: aliceblue; */
}

.describe-content p{
    width: fit-content;
    font-size: 18px;
    font-weight: 350;
    font-family: "Merriweather Sans";
    color: #cfc7c4;
    /* background-color: rebeccapurple; */
}

.describe-content h4{
    width: fit-content;
    font-size: 20px;
    font-weight: 400;
    font-family: "Merriweather Sans";
    color: #cfc7c4;
    margin-left: 5%;
    /* background-color: rebeccapurple; */
}

.skills{
    margin: 3%;
    height: fit-content;
    /* background-color: red; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: space-around; */
}

.skill{
    display: flex;
    background-color: #cfc7c4;
    /* padding: 2px; */
    align-items: center;
    border-radius: 10px;
    border: 1px solid #550f19;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3 ease;
}

.skill img{
    width: 40px;
    /* background-color: #1b0808; */
}

.skill p{
    font-family: "Merriweather Sans";
    font-size: 14px;
    width: fit-content;
    color: #1b0808;
    font-weight: 600;
}

@media (max-width:700px){
    .describe{
        flex-direction: column;
        align-items: center;
    }

    .describe img {
        max-width: 80%;
        margin: 0; /* Remove any margins to center the image */
    }

    .describe-content {
        max-width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .describe-content h1{
        font-size: 28px;
        font-weight: 500;
        color: #550f19;
        padding-bottom: 5px;
        font-family: "Merriweather Sans";
    }
    
    .describe-content h2{
        font-size: 26px;
        font-weight: 500;
        color: #550f19;
        padding-bottom: 15px;
        font-family: "Merriweather Sans";
        /* background-color: aliceblue; */
    }
    
    .describe-content p{
        font-size: 14px;
        font-weight: 350;
        font-family: "Merriweather Sans";
        color: #cfc7c4;
        text-align: justify;
    }

    .skill p{
        color: #1b0808;
    }
    
}

/*  */

.education-screen{
    height: fit-content;
    display: flex;
}

.edu-container{
    width: 100%;
    max-height: fit-content;
}

.education{
    width: 100%;
    max-height: 10%;
    flex-direction: column;
    justify-content: space-evenly;
    /* margin-top: 3%; */
    height: auto;
}

.education h2{
    font-family: "PlayFair";
    font-size: 35px;
    font-weight: 400px;
    color: #cfc7c4;
    text-align: center;
}

.edu-type{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    /* background-color: aqua; */
    justify-content: space-around;
    align-items: center;
}

.education-sma{
    height: 100%;
    width: 35%;
    max-height: 100%;
    /* background-color: black; */
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-color: #cfc7c4;
    border-radius: 3px;
    border-width: thin;
    margin-bottom: 5%;
    /* box-shadow: black 10px 10px; */
/* 
    transition: background-color 2s ease, transform 1s ease, box-shadow 2s ease, transform 1s ease;
    cursor: pointer; */
}

/* .education-sma:hover{
    background-color: #550f19;
    box-shadow: 8px 8px 12px grey;
    transform: scale(1.1);
} */



.sma-container {
    max-width: 100%;
    max-height: 50%;
    text-align: center;
    justify-content: center;
    margin: 5%;
    /* background-color: aliceblue; */
}

.sma-img{
    max-width: 100%;
    max-height: 30%;
    /* background-color: blue; */
}

.sma-img img{
    max-width: 70%;
    max-height: 30%;
    text-align: center;
    justify-content: center;
    /* background-color: #550f19; */
}

.sma-container h3{
    margin: 5%;
    font-family: "Merriweather Sans";
    text-align: center;
    margin-bottom: 1%;
    font-size: 22px;
    color: #cfc7c4;
}

.sma-container h4{
    margin: 0%;
    font-family: "Merriweather Sans";
    font-weight: 300;
    text-align: center;
    margin-bottom: 5%;
}

.sma-container p{
    margin: 1% 5% 2% 5%;
    font-family: "Merriweather Sans";
    font-weight: 350;
    text-align: center;
    font-size: 16px;
    text-align: justify;
}

.sma-desc{
    width: 100%;
    height: fit-content;
    /* background-color: rebeccapurple; */
    justify-content: center;
    text-align: center;
}

.sma-desc h1{
    margin-bottom: 4%;
    font-size: 28px;
    font-weight: 600;
    font-family: "Merriweather Sans";
}

.sma-desc h3{
    font-family: "Merriweather Sans";
    margin-bottom: 1%;
    font-weight: 600;
}

.sma-desc h4{
    font-family: "Merriweather Sans";
    margin-bottom: 1%;
    margin-left: 30%;
    margin-right: 30%;
    font-weight: 500;
}

.sma-desc p{
    font-family: "Merriweather Sans";
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    font-weight: 300;
    margin-bottom: 3%;
}

.btn{
    justify-items: center;
}

.sma-desc a{
    font-family: "Merriweather Sans";
    background-color: #1b0808;
    max-width: fit-content;
    padding: 8px 15px 8px 15px;
    border-radius: 10px;
    border:solid #cfc7c4 1.5px;
    transition: background-color;
    cursor: pointer;
    text-decoration: none;
    color: #cfc7c4;
    font-weight: 500;
    font-size: 16px;
}

.sma-desc a:hover{
    background-color: #550f19;
}


.education-uni{
    height: 100%;
    width: 35%;
    max-height: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
    /* background-color: black; */
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-color: #cfc7c4;
    border-radius: 3px;
    border-width: thin;
    /* box-shadow: black 10px 10px; */

    /* transition: background-color 2s ease, transform 1s ease, box-shadow 2s ease, transform 1s ease;
    cursor: pointer; */
}
/* 
.education-uni:hover{
    background-color: #550f19;
    box-shadow: 8px 8px 12px grey;
    transform: scale(1.1);
} */

.uni-container {
    max-width: 100%;
    max-height: 50%;
    text-align: center;
    justify-content: center;
    margin: 5%;
    /* background-color: aliceblue; */
}

.uni-img{
    max-width: 100%;
    max-height: 40%;
    /* background-color: blue; */
}

.uni-img img{
    max-width: 100%;
    max-height: 30%;
    text-align: center;
    justify-content: center;
    /* background-color: #550f19; */
}

.uni-container h3{
    margin: 5%;
    font-family: "Merriweather Sans";
    text-align: center;
    margin-bottom: 1%;
    font-size: 22px;
    color: #cfc7c4;
}

.uni-container h4{
    margin: 0%;
    font-family: "Merriweather Sans";
    font-weight: 300;
    text-align: center;
}

.uni-container p{
    margin: 1% 5% 2% 5%;
    font-family: "Merriweather Sans";
    font-weight: 350;
    text-align: center;
    font-size: 16px;
    text-align: justify;
}

.uni-desc{
    width: 100%;
    height: fit-content;
    /* background-color: rebeccapurple; */
    justify-content: center;
    text-align: center;
}

.uni-desc h1{
    font-size: 28px;
    font-weight: 600;
    font-family: "Merriweather Sans";
}

.content{
    margin: 5% 10% 10% 10%;
    height: fit-content;
    gap: 50px;
    display: flex;
    justify-content: center;
}

.content-desc{
    height: 100%;
    width: 40%;
    max-height: 100%;
    margin-bottom: 5%;
    /* background-color: #550f19; */
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-style: solid;
    border-color: #cfc7c4;
    border-radius: 5px;
    border-width: thin;
}

.content-txt1{
    max-width: 100%;
    /* max-height: 50%; */
    text-align: center;
    justify-content: center;
    margin: 5%;
}

.content-txt1 img{
    width: 80%;
    background-color: beige;
    padding: 35px 10px;
}

.content-txt2{
    max-width: 100%;
    /* max-height: 50%; */
    text-align: center;
    justify-content: center;
    margin: 5%;
}

.content-txt2 img{
    width: 40%;
    background-color: beige;
}

h3{
    font-family: "Merriweather Sans";
    margin-top: 2%;
}

p{
    font-family: "Merriweather Sans";
    margin: 5%;
    font-weight: 300;
    font-size: 14px;
    text-align: justify;
}

@media (max-width:700px){
    .content-txt1 img{
        width: 80%;
        background-color: beige;
        padding: 10px;
    }

    h3{
        font-family: "Merriweather Sans";
        margin-top: 2%;
        font-size: 14px;
        font-weight: 500;
    }
    
    p{
        font-family: "Merriweather Sans";
        margin: 5%;
        font-weight: 300;
        font-size: 12px;
        text-align: justify;
    }
}

@media (max-width:700px){
    .education-sma{
        width: 70%;
    }

    .education-uni{
        width: 70%;
    }
}





/* footer */

.footer{
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #cfc7c4;
    justify-content: center;
    align-items: center;
}

.footer p{

    color: #1b0808;
    font-family: "Playfair";
    font-size: 18px;
    font-weight: 600;
}